NODE_ENV=development
PORT=3000
POSTGRES_DB=diplomski
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
# For Local
DATABASE_URL=postgresql://postgres:root@localhost:5432/diplomski?schema=public
# For Docker
# DATABASE_URL=postgresql://postgres:root@postgres:5432/diplomski?schema=public